<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <link rel="icon" type="image/x-icon" href="favicon.ico"/> 
  <title> NJ2</title>
</head>

<body>
    <h1>Hello {{data[0]}}</h1>
    <h3>Profile changes</h3>
    <a href="{{ url_for('password') }}">Change Password</a>&emsp;
    <a href="{{ url_for('logout') }}">Logout</a>
    <h3>Browse</h3>
    <a href="{{ url_for('cart') }}">View your cart</a>&emsp;
    <a href="{{ url_for('browse_items') }}">Browse Items</a>&emsp;
    <a href="{{ url_for('bought_item') }}">Bought Items</a>

    <h3>Manage Items you are selling(Sign up with sid to access)</h3>
    <a href="{{ url_for('sellitems') }}">Sell Items</a>&emsp;
    <a href="{{ url_for('solditems') }}">Sold Items</a>&emsp;
</body>


</html>
