<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <link rel="icon" type="image/x-icon" href="favicon.ico"/> 
  <title> NJ2</title>
</head>

<body>
  <h1>Hello {{name}}</h1>
  <a href="{{ url_for('password') }}">Change Password</a>&emsp;
  <a href="{{ url_for('logout') }}">Logout</a>

  <div>
    <h3>View your Cart</h3>
    {% for account in accounts %}
    <h4>{{ account[1] }} account <a href="{{ url_for('account', account_number = account[0]) }}">{{ account[0] }}</a></h4>
    {% endfor %}
  </div>

<p><a href="/another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
